@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@config "../tailwind.config.js";

@layer base {
  :root {
    /* Main background */
    --background: 85 67% 96%;
    --foreground: 212 88% 27%;

    /* Card */
    --card: 107 50% 91%;

    --card-foreground: 212 88% 27%;

    /* Popover */
    --popover: 107 50% 91%;
    --popover-foreground: 212 88% 27%;

    /* Primary */
    --primary: 200 63% 46%;
    --primary-foreground: 85 67% 96%;

    /* Secondary */
    --secondary: 109 49% 85%;
    --secondary-foreground: 212 88% 27%;

    /* Muted */
    --muted: 109 49% 85%;
    --muted-foreground: 205 91% 35%;

    /* Accent */
    --accent: 135 44% 76%;
    --accent-foreground: 212 88% 27%;

    /* Status */
    --destructive: 0 85% 65%;
    --destructive-foreground: 85 67% 96%;
    --success: 142 70% 50%;
    --success-foreground: 85 67% 96%;
    --info: 194 60% 57%;

    /* Border / Input */
    --border: 174 44% 64%;
    --input: 174 44% 64%;
    --ring: 200 63% 46%;

    /* Radius */
    --radius: 0.5rem;

    /* Sidebar */
    --sidebar-background: 107 50% 91%;
    --sidebar-foreground: 212 88% 27%;
    --sidebar-primary: 200 63% 46%;
    --sidebar-primary-foreground: 85 67% 96%;
    --sidebar-accent: 135 44% 76%;
    --sidebar-accent-foreground: 212 88% 27%;
    --sidebar-border: 174 44% 64%;
    --sidebar-ring: 200 63% 46%;

    /* Ticket type */
    --story: #85E360;
    --task: #7ED2FA;
    --bug: #FFB84D;
    --epic: #B46EF5;
  }
}

